<!DOCTYPE HTML>
<HTML>
  <HEAD>
    <META charset="UTF-8">
		<META name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <TITLE>The Beat Project</TITLE>
		<LINK rel="stylesheet" href="css/index.css">
		<!-- Cool Anims -->
		<LINK rel="stylesheet" href="css/animate.min.css">
		<!-- Link Anims -->
		<LINK rel="stylesheet" href="css/component.css">
		<!-- Wows Anims -->
		<SCRIPT src="js/wow.min.js"></SCRIPT>
		<SCRIPT>new WOW().init();</SCRIPT>
		<!-- Icons -->
		<SCRIPT defer src="js/all.js"></SCRIPT>
		<LINK href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Fonts -->
		<LINK href="https://fonts.googleapis.com/css?family=Bangers|Comfortaa|Major+Mono+Display|Nunito|Pacifico|Quicksand|Rubik" rel=  "stylesheet">
		<!-- Additional styles -->
		<STYLE>
			.pointer:hover{cursor:pointer;}
			.normal:hover{cursor:default;}
			.pattern{background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-	2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23222222' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");}
			footer{background-color: #2196f3;background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%236ec6ff' fill-opacity='0.19'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}
		</STYLE>

    <!-- Script to plot graph -->
    <SCRIPT>
      window.onload = function () {
        var dataPoints = [];
        var chart = new CanvasJS.Chart("chartContainer", {
          animationEnabled: true,
          exportEnabled: true,
          title:{
            text: "Heart Beat"
          },
          axisY: {
            title: "Beats / Min.",
            includeZero: false
          },
          data: [{
            type: "column",
            toolTipContent: "{y} Beats per minute",
            dataPoints: dataPoints
          }]
        });
        $.get("beat.csv", getDataPointsFromCSV);
        //CSV Format
        //Time,Beats
        function getDataPointsFromCSV(csv) {
          var csvLines = points = [];
          csvLines = csv.split(/[\r?\n|\r|\n]+/);
          for (var i = 0; i < csvLines.length; i++) {
            if (csvLines[i].length > 0) {
              points = csvLines[i].split("] ");
              date = points[0].split(" ");
              dataPoints.push({
                label: date[1],
                y: parseFloat(points[1])
              });
            }
          }
          chart.render();
        }
      }
    </SCRIPT>
  </HEAD>
  <BODY class="zk-noselect" style="background:#1b1b1b">
    <MAIN>
			<!-- Navbar Container -->
			<DIV class="zk-top zk-black pattern" id="navBar" style="min-height:80px;z-index:4">
				<DIV class="zk-bar zk-card zk-navbar zk-padding-small" id="myNavbar" style="color:white;">
					<NAV class="cl-effect-1 wow rotateInDownLeft"><B><A href="/" class="zk-bar-item zk-wide" style="font-size:22px;margin-top:12px;font-family: 'Bangers', cursive;"><!--<IMG src="imgs/logo.png" style="height:60px;"/>--><I class="fa fa-heartbeat"></I></A></B></NAV>
					<NAV class="zk-right zk-hide-small cl-effect-11" style="margin-top:16px;font-size:19px;margin-right:16px;">
						<A href="/" class="wow slideInUp" style="text-decoration:none;animation-delay:0.02s;" data-hover="The Beat Project">The Beat Project</A>
					</NAV>
				</DIV>
			</DIV>

      <!-- Sidebar/menu -->
  		<NAV class="zk-sidebar zk-collapse zk-black zk-animate-left" style="z-index:3;width:300px;padding-top:80px;overflow:hidden" id="mySidebar">
  			<BR>
  			<DIV class="container row" style="padding-left:16px">
  				<DIV class="col s8 bar">
  					<!-- Display Username -->
            Welcome <%= user.username %>
  				</DIV>
  			</DIV>
  			<HR>
  			<DIV class="container" style="padding-left:16px">
  				<A href="dash.php" class="normal" style="text-decoration:none"><H5>Dashboard</H5></A>
  			</DIV>
  			<DIV class="bar-block">
  				<TABLE style="margin-left:10px" border="0" width="100%">
  					<TR>
  						<TD>
  							<I class="material-icons animated infinite bounce delay-2s" style="color:#2196F3; display:inline;">info</I>
  						</TD>
  						<TD>
  							<A href="/profile" class="bar-item button padding"><b>&nbsp; Current Data</b></A>
  						</TD>
  					</TR>
  					<TR>
  						<TD>
  							<I class="material-icons" style=" color:#e91e63; display:inline;">library_books</I>
  						</TD>
  						<TD>
  							<A href="#" class="bar-item button padding"><b>&nbsp; History</b></A>
  						</TD>
  					</TR>
  					<TR>
  						<TD>
  							<I class="material-icons" style="color:#FFEB3B; display:inline;">exit_to_app</I>
  						</TD>
  						<TD>
  							<A href="/logout" class="bar-item button padding"><b>&nbsp; Signout</b></A>
  						</TD>
  					</TR>
  				</TABLE>
  			</DIV>
  		</NAV>

      <!-- Graph Container -->
      <DIV class="zk-container" style="margin-left:300px">
        <DIV id="chartContainer" style="height: 370px; width: 100%;margin-top:100px;"/>
      </DIV>

      <SCRIPT type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></SCRIPT>
      <SCRIPT src="https://canvasjs.com/assets/script/canvasjs.min.js"></SCRIPT>
    </MAIN>
  </BODY>
</HTML>

<h3><span class="fa fa-user"></span> </h3>
